@import './utils/libs.scss';
@import './utils/mixins.scss';
@import './modules/header.scss';

h1 {
  background: blue;
  padding: 4px;
  font-family: Arial;
  font-size: 26px;
  font-weight: normal;
  &.header {
    color: yellow;
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  .block {
    border: 1px solid red;
  }
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}