h1 {
  background: blue;
  padding: 4px;
  font-family: Arial;
  font-size: 26px;
  font-weight: normal;
  &.header {
    color: yellow;
  }
}
.container {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  justify-content: center;
  align-content: space-between;
  .block {
    border: 1px solid red;
  }
}